{{define "navbar"}}
		<!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">NFL Pick-Em</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Weekly Standings<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="disabled"><a href="/standings/2015/1">Week 1</a></li>
                <li class="disabled"><a href="/standings/2015/2">Week 2</a></li>
                <li class="disabled"><a href="/standings/2015/3">Week 3</a></li>
                <li class="disabled"><a href="/standings/2015/4">Week 4</a></li>
                <li class="disabled"><a href="/standings/2015/5">Week 5</a></li>
                <li class="disabled"><a href="/standings/2015/6">Week 6</a></li>
                <li class="disabled"><a href="/standings/2015/7">Week 7</a></li>
                <li class="disabled"><a href="/standings/2015/8">Week 8</a></li>
                <li class="disabled"><a href="/standings/2015/9">Week 9</a></li>
                <li class="disabled"><a href="/standings/2015/10">Week 10</a></li>
                <li class="disabled"><a href="/standings/2015/11">Week 11</a></li>
                <li class="disabled"><a href="/standings/2015/12">Week 12</a></li>
                <li class="disabled"><a href="/standings/2015/13">Week 13</a></li>
                <li class="disabled"><a href="/standings/2015/14">Week 14</a></li>
                <li class="disabled"><a href="/standings/2015/15">Week 15</a></li>
                <li class="disabled"><a href="/standings/2015/16">Week 16</a></li>
                <li class="disabled"><a href="/standings/2015/17">Week 17</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Weekly Results<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="disabled"><a href="/results/2015/1">Week 1</a></li>
                <li class="disabled"><a href="/results/2015/2">Week 2</a></li>
                <li class="disabled"><a href="/results/2015/3">Week 3</a></li>
                <li class="disabled"><a href="/results/2015/4">Week 4</a></li>
                <li class="disabled"><a href="/results/2015/5">Week 5</a></li>
                <li class="disabled"><a href="/results/2015/6">Week 6</a></li>
                <li class="disabled"><a href="/results/2015/7">Week 7</a></li>
                <li class="disabled"><a href="/results/2015/8">Week 8</a></li>
                <li class="disabled"><a href="/results/2015/9">Week 9</a></li>
                <li class="disabled"><a href="/results/2015/10">Week 10</a></li>
                <li class="disabled"><a href="/results/2015/11">Week 11</a></li>
                <li class="disabled"><a href="/results/2015/12">Week 12</a></li>
                <li class="disabled"><a href="/results/2015/13">Week 13</a></li>
                <li class="disabled"><a href="/results/2015/14">Week 14</a></li>
                <li class="disabled"><a href="/results/2015/15">Week 15</a></li>
                <li class="disabled"><a href="/results/2015/16">Week 16</a></li>
                <li class="disabled"><a href="/results/2015/17">Week 17</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{if eq "" .}}
            <li><a href="/login">Login</a></li>
            {{else}}
            <li><a href="/picks">Picks</a></li>
            <li><a href="/changePassword">Change Password</a></li>
            <li><a href="/picks">{{.}}</a></li>
            <li><a href="/logout">Logout</a></li>
            {{end}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
{{end}}
