{{define "title"}}Picks{{end}}

{{define "content"}}
<div class="container">
  <form role="form" method="post" action="/picks">
    <table class="table table-striped">
      <tr>
        <th>Game Time</th>
        <th>Away</th>
        <th>Home</th>
        <th>Selection</th>
        <th>Points</th>
      </tr>
      {{range .}}
      <tr>
        <td>{{.Time}}</td>
        <td>{{.Away}} {{.AwayNick}}</td>
        <td>{{.Home}} {{.HomeNick}}</td>
        <td>
          <select class="form-control" name="{{.Id}}">
            <option value="{{.AwayId}}">{{.Away}}</option>
            <option value="{{.HomeId}}">{{.Home}}</option>
          </select></td>
        <td>
          <select class="form-control">
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="7">7</option>
          </select></td>
      </tr>
      {{end}}
    </table>
    <button type="submit" class="btn btn-default">Submit Picks</button>
  </form>
</div> <!-- /container -->
{{end}}
