{{define "title"}}Make Picks{{end}}

{{define "content"}}
		<div class="container">

			{{range .picks}}
			<div class="row">
				<div class="col-md-12" style="border:2px solid black">
					<form role="form">
						<fieldset>
							<legend>September 24, 2014</legend>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" name=“1” id=“1” value=“0”>
											James Madison Dukes
										</label>
									</div>
									<div class="form-group">
										<label class="radio-inline">
											<input type="radio" name=“1” id=“1” value=“1”>
											Delaware Blue Hens
										</label>
									</div>
								</div>
								<div class="col-md-6">
									<select class="form-control" id=“1”>
										<option>1</option>
										<option>3</option>
										<option>5</option>
										<option>7</option>
									</select>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			{{end}}

		</div> <!-- /container -->
{{end}}