{{define "title"}}Week By Week Standings{{end}}

{{define "content"}}
<div class="container">
  <div class="page-header"><h1>Standings As of Week {{.CurrentWeek}}</h1></div>
  <table class="table table-bordered">
    <tr>
      <th></th> <!--Users-->
      <th></th> <!--Buffer Empty Column-->
      {{range .Weeks}}<th>{{.}}</th>{{end}}
      <th></th> <!--Buffer Empty Column-->
      <th>Raw Total</th>
      <th></th> <!--Buffer Empty Column-->
      <th>Adjusted Total</th>
    </tr>
    {{range .Users}}
    <tr>
      <td>{{.Name}}</td>
      <td></td>
      {{range .Scores}}
      <td>{{.}}</td>
      {{end}}
      <td></td>
      <td>{{.Total}}</td>
      <td></td>
      <td>{{.AdjustedTotal}}</td>
    </tr>
    {{end}}
  </table>
</div>
{{end}}
